/*
Buttons CSS Module

REFERENCE(s)
- https://cssgradient.io/
- https://hslpicker.com/
- https://youtu.be/hT9ABJyOzwM?si=bcTuy_sayVNfyjCk
- https://stackoverflow.com/questions/30424248/does-ul-have-default-margin-or-padding
- https://sass-lang.com/documentation/at-rules/extend/
*/

// To change button color depending on state
@mixin btnColor($state) {
    border-radius: 5px;
    // border-style: solid;

    @if $state =="hover" {
        background-color: hsl(0, 0%, 20%);
    }

    @else if $state =="active" {
        background-color: hsl(0, 0%, 100%);
    }
}

// Variables

/*
    Button class
*/
.btn {
    /*
    UNIVERSAL Properties
    */
    // border-radius: 10px;
    // margin: 0px;

    &-nav {
        padding: 10px;

        &:hover {
            @include btnColor("hover");
        }

        &:active {
            color: black;
            @include btnColor("active");
        }

        // ACTIVE - Highlight Color
        &#active {
            color: black;
            @include btnColor("active");

            &:hover {
                background-color: hsl(0, 0%, 70%);
            }

            &:active {
                color: white;
                background-color: hsl(0, 0%, 40%);
            }
        }
    }

    &-social {
        // Button properties
        border-radius: 5px;
        $size_btn-social: 25px;
        height: $size_btn-social;
        width: $size_btn-social;
        padding: 10px;

        // Text properties
        font-size: 20px;
        text-align: center;
        color: white;
        text-decoration: none;

        // Box shadow
        box-shadow: 0px 0px 5px 1px hsla(0, 0%, 0%, 0.15);

        &#linkedin {
            // background-color: hsl(210, 100%, 35%);
            background-color: white;
            // height: 700px;
            // width: 700px;
        }

        &#facebook {
            background-color: hsl(217, 100%, 52%);
            // background-color: white;
            // background: hsl(217, 100%, 52%) url("../media/icon/facebook.png") center no-repeat;
            // background-size: 100% auto;

        }

        &#github {
            background-color: black;
        }

        &#tiktok {
            background-color: black;

            &:hover {
                @include btnColor("hover");
            }

            &:active {
                color: black;
                @include btnColor("active");
            }
        }

        &#instagram {
            // Taken from https://cssgradient.io
            background: rgb(255, 175, 0);
            background: -moz-linear-gradient(32deg, rgba(255, 175, 0, 1) 0%, rgba(223, 0, 181, 1) 48%, rgba(120, 0, 231, 1) 100%);
            background: -webkit-linear-gradient(32deg, rgba(255, 175, 0, 1) 0%, rgba(223, 0, 181, 1) 48%, rgba(120, 0, 231, 1) 100%);
            background: linear-gradient(32deg, rgba(255, 175, 0, 1) 0%, rgba(223, 0, 181, 1) 48%, rgba(120, 0, 231, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaf00", endColorstr="#7800e7", GradientType=1);
        }
    }

    &#email {
        // Button properties
        border: 3.5px solid black;
        border-radius: 5px;
        background-color: black;
        padding: 5px 10px;
        // background-color: black;
        color: white;
    }
}

.ico {
    &-social {
        // Icon Properties
        background-repeat: no-repeat;
        background-position: center;
        width: inherit;
        height: inherit;

        &#facebook {
            /*
                Because the icon is not SVG,
                a workaround is made to make image fit its container
            */
            background-image: url("../media/icon/facebook.png");
            background-size: 100%;
        }

        &#instagram {
            background-image: url("../media/icon/instagram.svg");
        }

        &#tiktok {
            background-image: url("../media/icon/tiktok.svg");
        }
    }
}