/*
Contact Page

REFERENCE(s)
- https://cssgradient.io/
- https://hslpicker.com/
- https://youtu.be/hT9ABJyOzwM?si=bcTuy_sayVNfyjCk
- https://stackoverflow.com/questions/30424248/does-ul-have-default-margin-or-padding
*/

// @use imports
@use "./global" as global;
@use "./button";

.flex-container {
    // Flexbox properties
    display: flex;
    align-items: center;

    &#row {
        flex-direction: row;
    }

    &#col {
        flex-direction: column;
    }
}

.link-contact {
    // Container properties
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        // Text properties
        text-decoration: none;
    }

    // In case it's used on <li> or <ul> tags
    list-style: none;
}

.container {
    // Container Properties
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;

    // Alignment settings
    align-items: center;
    justify-content: center;

    // div {
    //     background-color: hsl(0, 0%, 70%);
    //     &:nth-child(even) {
    //         background-color: hsl(0, 0%, 60%);
    //     }
    // }
    
    &.contact {
        // Column
        grid-template-columns: repeat(2, 1fr);

    }
    &-social {
        // Flex settings
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: center;
        // flex-wrap: wrap;
        // align-items: center;
        // max-width: 100%;

        // justify-content: space-around;
    }

}

.idk {
    background-color: hsl(0, 0%, 70%);
    border-radius: 10px;
}