/*
Contact Page

REFERENCE(s)
- https://cssgradient.io/
- https://hslpicker.com/
- https://youtu.be/hT9ABJyOzwM?si=bcTuy_sayVNfyjCk
- https://stackoverflow.com/questions/30424248/does-ul-have-default-margin-or-padding
*/

// @use imports
// @use "./global" as global;
@use "./button";

.container {
    // Container Properties
    display: flex;
    flex-direction: column;


    // Link properties
    * {
        text-decoration: none;
    }

    // Alignment settings
    align-items: center; //for y-axis
    justify-content: center; //For x-axis

    &-social {
        @extend .container;
        // Flexbox settings
        // display: flex;
        flex-flow: row wrap;
        $gapsize: 10px;
        column-gap: $gapsize;
        row-gap: $gapsize;
        // X-axis properties
        justify-content: space-evenly;
        // Y-axis properties
        align-content: center;
    }

    &-email {
        // Inheritance
        @extend .container;
        flex-grow: 1;
        // Present everything in rows
        // flex-wrap: row wrap;
        flex-direction: row;
        justify-content: space-evenly;

    }

}

.main-content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

/*
    Partition Styling
    !!! DESIGNED FOR ITS CORRESPONDING PAGE !!!
*/
.part {
    padding: 20px 0;

    &-1 {
        @extend .part;
        /*
    Set max-width to container, then centre it on page
    - https://stackoverflow.com/a/11088987
    */
        max-width: 700px;
        margin: 0 auto;
    }

    &-2 {
        @extend .part;
        background-color: hsl(0, 0%, 100%);

        #line-vertical {
            background-color: black;
            width: 5px;
            height: 200px;
            margin: 2rem 0;
        }

        flex-grow: 1;

    }
}