/*
Contact Page

REFERENCE(s)
- https://cssgradient.io/
- https://hslpicker.com/
- https://youtu.be/hT9ABJyOzwM?si=bcTuy_sayVNfyjCk
- https://stackoverflow.com/questions/30424248/does-ul-have-default-margin-or-padding
*/
/*
    Variables, Modules & Mixins
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
Local Variables
*/
/*
Buttons CSS Module

REFERENCE(s)
- https://cssgradient.io/
- https://hslpicker.com/
- https://youtu.be/hT9ABJyOzwM?si=bcTuy_sayVNfyjCk
- https://stackoverflow.com/questions/30424248/does-ul-have-default-margin-or-padding
- https://sass-lang.com/documentation/at-rules/extend/
*/
/*
    Button class
*/
.btn {
  /*
  UNIVERSAL Properties
  */
}
.btn-nav {
  padding: 10px;
}
.btn-nav:hover {
  border-radius: 5px;
  background-color: hsl(0, 0%, 20%);
}
.btn-nav:active {
  color: black;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
}
.btn-nav#active {
  color: black;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
}
.btn-nav#active:hover {
  background-color: hsl(0, 0%, 70%);
}
.btn-nav#active:active {
  color: white;
  background-color: hsl(0, 0%, 40%);
}
.btn-social {
  border-radius: 5px;
  height: 25px;
  width: 25px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  box-shadow: 0px 0px 5px 1px hsla(0, 0%, 0%, 0.15);
}
.btn-social#linkedin {
  background-color: white;
}
.btn-social#facebook {
  background-color: hsl(217, 100%, 52%);
}
.btn-social#github {
  background-color: black;
}
.btn-social#tiktok {
  background-color: black;
}
.btn-social#tiktok:hover {
  border-radius: 5px;
  background-color: hsl(0, 0%, 20%);
}
.btn-social#tiktok:active {
  color: black;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
}
.btn-social#instagram {
  background: rgb(255, 175, 0);
  background: linear-gradient(32deg, rgb(255, 175, 0) 0%, rgb(223, 0, 181) 48%, rgb(120, 0, 231) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaf00", endColorstr="#7800e7", GradientType=1);
}
.btn#email {
  border: 3.5px solid black;
  border-radius: 5px;
  background-color: black;
  padding: 5px 10px;
  color: white;
}

.ico-social {
  background-repeat: no-repeat;
  background-position: center;
  width: inherit;
  height: inherit;
}
.ico-social#facebook {
  /*
      Because the icon is not SVG,
      a workaround is made to make image fit its container
  */
  background-image: url("../media/icon/facebook.png");
  background-size: 100%;
}
.ico-social#instagram {
  background-image: url("../media/icon/instagram.svg");
}
.ico-social#tiktok {
  background-image: url("../media/icon/tiktok.svg");
}

html, body {
  margin: 0;
  padding: 0;
  margin-top: 8vh;
  background-color: hsl(0, 0%, 90%);
}
html *, body * {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.container, .container-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-social {
  flex-flow: row wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  justify-content: space-evenly;
  align-content: center;
}

.main-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/*
    Partition Styling
    !!! DESIGNED FOR ITS CORRESPONDING PAGE !!!
*/
.part, .part-2, .part-1 {
  padding: 20px 0;
}
.part-1 {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 0;
}
.part-2 {
  background-color: white;
  width: 750px;
  margin: auto;
  border-radius: 15px;
  /*
  Adding shadow to card
  - https://youtu.be/jEuvbVVkcT0?si=8KwTcqctuwE1WjC2
  */
  box-shadow: 0px 0px 20px 1px hsla(0, 0%, 0%, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.part-2 #line-straight {
  background-color: black;
  width: 5px;
  height: 120px;
  margin: 1rem 0;
}
.part-2 #btn {
  flex-grow: 1;
}

@media screen and (max-width: 700px) {
  .part, .part-1, .part-2 {
    flex-direction: column;
    row-gap: 0px;
  }
  .part-2 {
    flex-flow: column wrap;
    justify-content: center;
    width: auto;
    flex-grow: 0;
    padding: 2rem;
  }
  .part-2 #line-straight {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }
}/*# sourceMappingURL=contact.css.map */