/*
Navigation Bar

Reference(s):
- https://youtu.be/PwWHL3RyQgk?si=V-Lax5dIxIbxD7WI
- https://youtu.be/dPHNrNgM8jI?si=TtWs_gxAgq-NTW-N
*/

// @use imports
@use "./global" as global;
@use "./button" as button;

// Variables, Modules & Mixins
$sizeName: 25px;
$navbarHeight: 60px;

/*
 Navigation Bar
 */
.navbar {
    // Navbar styling
    background-color: black;
    height: $navbarHeight;
    @include global.spacingLeftRight();

    // Apply to all elements
    * {
        // Text Style
        color: white;
        text-decoration: none;
    }

    // Apply to navbar container
    &-container {
        // Flexbox properties
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin: 0px 2rem;
        height: $navbarHeight;


        // Name Title (or Brand Title)
        #name {
            font-size: $sizeName;
            @include global.poppins($weight: "semibold");
        }

        // Links
        .link {
            // Remove bullet/number points
            list-style: none;
            overflow: hidden;
            font-size: calc($sizeName - 10px);
            @include global.poppins($weight: "regular");

            // INACTIVE - Change Color
            li {
                display: inline-block;
                padding: 10px;

                &:hover {
                    @include button.btnColor("hover");
                }

                &:active {
                    color: black;
                    @include button.btnColor("active");
                }
            }

            // ACTIVE - Highlight Color
            #active {
                color: black;
                @include button.btnColor("active");

                &:hover {
                    background-color: hsl(0, 0%, 70%);
                }
                &:active {
                    color: white;
                    background-color: hsl(0, 0%, 40%);
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .container-social {
        $spaceLR: 5rem;
        margin-left: $spaceLR;
        margin-right: $spaceLR;
    }    
}