/*
Navigation Bar

Reference(s)
- https://youtu.be/PwWHL3RyQgk?si=V-Lax5dIxIbxD7WI
- https://youtu.be/dPHNrNgM8jI?si=TtWs_gxAgq-NTW-N
- https://youtu.be/5zDYchk3C5k?si=uTUCpG7awRjH64x4
- https://youtu.be/41ZBkZUVApc?si=rVLj0VenAPs0__M_ grid vs. flexbox

Fix(es)
- https://stackoverflow.com/questions/37785345/how-to-get-flexbox-to-include-padding-in-calculations
*/

// Dependencies
@use "./global" as global;
@use "./button" as button;

// Variables, Modules & Mixins
$size_name: 25px;
$size_pad: 2vw;

/*
 Navigation Bar
 */

header {

    // Width & height
    height: global.$height_navbar;
    width: 100%;

    // Color
    background-color: black;

    // Position
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    // Flexbox settings
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    * {
        // Font Color
        color: white;
    }

    // Name Title (or Brand Title)
    .name {
        padding-left: $size_pad;
        font-size: $size_name;
        @include global.poppins($weight: "semibold");
    }

    // Navigation Buttons
    .links {
        display: inline-block;
        &:last-child {
            padding-right: $size_pad;
        }
    }
}



@media screen and (min-width: 600px) {
    .container-social {
        $spaceLR: 5rem;
        margin-left: $spaceLR;
        margin-right: $spaceLR;
    }
}