/*
Projects Styling

Notes
- It will use CSS grids
- It will center its children

References
- https://www.sitepoint.com/css-grid-center-element/
- https://youtu.be/RhUuMl3R1PE?si=X_35d46Brt3iEv79
*/

@use "/src/styles/universal" as universal;

.main {
    // Local variables
    $gap_size: 15px;

    // Display settings
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;

    // Grid settings
    column-gap: $gap_size;
    row-gap: calc($gap_size * 2);

    // Children properties
    * {
        place-self: center;
    }
}

@media screen and (max-width: 850px) {
    // .main {}
}

@media screen and (min-width: 850px) {
    .main {
        // Grid settings
        grid-template-columns: repeat(2, 1fr);


    }
}