/*
Buttons CSS Module

REFERENCE(s)
- https://cssgradient.io/
- https://hslpicker.com/
- https://youtu.be/hT9ABJyOzwM?si=bcTuy_sayVNfyjCk
- https://stackoverflow.com/questions/30424248/does-ul-have-default-margin-or-padding
- https://sass-lang.com/documentation/at-rules/extend/
*/

.social_btn {
    // Button properties
    border-radius: 5px;
    $size_btn-social: 25px;
    height: $size_btn-social;
    width: $size_btn-social;
    padding: 10px;

    // Text properties
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;

    // Box shadow
    box-shadow: 0px 0px 5px 1px hsla(0, 0%, 0%, 0.15);

    &_linkedin {
        @extend .social_btn;

        // background-color: hsl(210, 100%, 35%);
        background-color: white;
        // height: 700px;
        // width: 700px;
        /*
                        Because the icon is not SVG,
                        a workaround is made to make image fit its container
                    */
        // background-image: url("/icons/socials/linkedin.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;

    }

    &_facebook {
        @extend .social_btn;
        background-color: hsl(217, 100%, 52%);
    }

    &_github {
        @extend .social_btn;
        background-color: black;
    }

    &_tiktok {
        @extend .social_btn;
        background-color: black;
    }

    &_instagram {
        @extend .social_btn;
        // Taken from https://cssgradient.io
        background: rgb(255, 175, 0);
        background: -moz-linear-gradient(32deg, rgba(255, 175, 0, 1) 0%, rgba(223, 0, 181, 1) 48%, rgba(120, 0, 231, 1) 100%);
        background: -webkit-linear-gradient(32deg, rgba(255, 175, 0, 1) 0%, rgba(223, 0, 181, 1) 48%, rgba(120, 0, 231, 1) 100%);
        background: linear-gradient(32deg, rgba(255, 175, 0, 1) 0%, rgba(223, 0, 181, 1) 48%, rgba(120, 0, 231, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaf00", endColorstr="#7800e7", GradientType=1);
    }
}

.btn_email {
    // Button properties
    border: 3.5px solid black;
    border-radius: 5px;
    background-color: black;
    padding: 5px 10px;
    // background-color: black;
    color: white;
}

.social_ico {
    // Icon Properties
    background-repeat: no-repeat;
    background-position: center;
    width: inherit;
    height: inherit;

    &_facebook {
        @extend .social_ico;
        /*
            Because the icon is not SVG,
            a workaround is made to make image fit its container
        */
        // background-image: url("/icons/socials/facebook.png");
        background-image: url("/icons/socials/facebook.png");
        background-size: 100%;
    }

    &_instagram {
        @extend .social_ico;
        background-image: url("/icons/socials/instagram.svg");
    }

    &_linkedin {
        @extend .social_ico;
        /*
            Because the icon is not SVG,
            a workaround is made to make image fit its container
        */
        background-image: url("/icons/socials/linkedin.png");
        background-size: 100%;
    }

    &_tiktok {
        @extend .social_ico;
        background-image: url("/icons/socials/tiktok.svg");
    }
}