/*
SASS/CSS Styling
for Index Page

Last Modified: 18 Aug 2024
*/

@use "/src/styles/universal" as universal;

// Paritions
.card {
    padding: 10px;

    &_01 {
        @extend .card;
        border-radius: 15px;
        background-color: white;

        // Design it into a card in the middle of screen
        max-width: 750px;
        margin: auto;

        display: flex;
        flex-wrap: row;
        align-items: center;
        justify-content: space-between;

        /*
        Adding shadow to card
        - https://youtu.be/jEuvbVVkcT0?si=8KwTcqctuwE1WjC2
        */
        box-shadow: 0px 0px 20px 1px hsla(0, 0%, 0%, 0.2);

        // div {
        //     border: 5px solid red;
        // }

        #pic {
            padding: 20px;

            &_me {
                $size: 275px;
                max-width: $size;
                max-height: $size;
                // height: $size;
                border: 5px solid hsl(0, 0%, 10%);
                border-radius: 50%;
            }
        }

        #info {
            // justify-content: center;
            text-align: left;
            // Fill entire remaining space
            flex-grow: 1;
        }
    }
}

@media screen and (max-width: 700px) {
    .card {
        &_01 {
            justify-content: center;
            flex-direction: column;
            row-gap: 0px;
            // flex-grow: 0;
        }
    }
}